appnope==0.1.0
aspy.yaml==1.3.0
attrs==22.2.0
backcall==0.1.0
cfgv==3.1.0
coverage==5.2.1
decorator==4.4.2
identify==1.4.14
importlib-metadata==1.6.0
importlib-resources==1.4.0
ipdb==0.12.3
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.16.0
more-itertools==8.2.0
nodeenv==1.3.5
packaging==23.2
parso==0.6.2
pexpect==4.8.0
pickleshare==0.7.5
pluggy==1.4
pre-commit==3.7.0
pretend==1.0.8
prompt-toolkit==3.0.5
ptyprocess==0.6.0
py==1.11.0
Pygments==2.7.4
pyparsing==2.4.7
pytest== 8.1.1
pytest-cov==5.0.0
pytest-mock==3.14.0
six==1.14.0
toml==0.10.0
tox==4.14.0
traitlets==4.3.3
virtualenv==20.25
wcwidth==0.1.9
zipp==3.1.0
